version: "3"

services:
  db:
    image: mongo
    restart: always
    env_file:
      - .env
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE=$MONGO_INITDB_DATABASE
    volumes:
      - ./docker/docker-entrypoint-initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  monitoring-management-microservice:
    build: ./monitoring-management-microservice
    volumes:
      - ./monitoring-management-microservice:/monitoring-management-microservice
    image: riccardompesce/dsbd-mmms
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8080:8080"
    