version: "3"

services:
  db:
    image: mongo
    env_file:
      - .env
    ports:
      - "27017:27017"
  app:
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - .:/code
    image: riccardompesce/dsbd-mmms
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8080:8080"